<div class="wrapper">
  <div class="container justify-content-center text-center">
      <%= render 'form', article: @article %>
      <%= link_to "Back to list", articles_path, class:"btn btn-primary back-button" %>
  </div>
</div>
