// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.container {
  margin: 20px auto;
}

.navbar {
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-end;
}

.new-article {
  text-decoration: none !important;
}

.article-title {
  text-decoration: none !important;
}

.back-button {
  margin: 20px auto;
}

.delete-button {
  color: red;
  text-decoration: none !important;
}

.delete-button:hover {
  color: #c70000 !important;
}
